.navbar {
    color: white;
}

.navbar i {
    color: white;
    font-size: 3.0vh;
}

.navbar .carro {
    padding-top: 1.7%;
}

.navbar input {
    width: 80%!important;
}

.navbar .nav-item {
    padding-top: 1.1%;
}

.carrusel .carousel-caption {
    background-color: rgba(32, 33, 36, 0.65);
}

.productos {
    margin-top: 5%;
    margin-bottom: 5%;
}

.productos .card {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    width: 100%;
    background-color: rgb(6, 29, 97);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: none;
}