.navbar {
    color: white;
}

.navbar i {
    color: white;
    font-size: 3.0vh;
}

.navbar .carro {
    padding-top: 1.7%;
}

.navbar input {
    width: 80%!important;
}

.navbar .nav-item {
    padding-top: 1.1%;
}

table tr td {
    border-bottom: 1px solid #DE5B6D;
}

footer {
    width: 100%;
    background-color: rgb(6, 29, 97);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    table img {
        width: 60px;
        height: 60px;
    }
}